.container {
  display: flex;
  flex-direction: row;
  min-height: 400px;
}

.chat-section {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.output-section {
  height: 80%;
  background: #e4e4e4;
  margin-bottom: .4rem;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.output-prompt {
  background: #c9c9c9;
  margin-bottom: .4rem;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.output-prompt-message {
  font-size: 1.2rem;
}

.output-current-response {
  font-size: 1.2rem;
}

.input-section {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  border: 2px solid #ddd;
  width: 100%;
}

.textarea {
  flex: 4;
  padding: 0.75rem;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-size: 1.2rem;
}

.send-button-container {
  display: flex;
  align-items: center;
}

.send-button {
  background: #ececec;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.75rem;
  transition: background-color 0.3s ease-in-out;
  height: 100%;
}

.send-button:active,
.send-button:hover {
  background-color: #ddd;
}

.history-section {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: #e4e4e4;
  margin-left: .4rem;
  max-height: 400px;
  overflow-y: auto;
}

.history-section-conversations-container {
  padding: .4rem 1rem 2rem 1rem;
}

.clear-history-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 2.5rem;
  background: linear-gradient(to top, #c9c9c9, transparent);
  position: sticky;
  bottom: 0;
}

.clear-history-button {
  margin-left: .4rem;
  background: #ececec;
  border: none;
  cursor: pointer;
}

.clear-history-button:active,
.clear-history-button:hover {
  background-color: #ddd;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .history-section {
    margin-top: .4rem;
    margin-left: 0rem;
  }
  .send-button {
    font-size: 1rem;   
  }
  .textarea {
    font-size: 1rem;
  }
}